
$color-ui4: rgba(211,211,211,1);
$color-ui3: rgba(239,239,239,1);
$color-ui0: rgba(0,139,208,1);
$color-ui1: rgba(255,255,255,1);
$purple-red: rgba(167,2,64,1);
$greenNeon: rgba(225,255,50,1);

$datepicker__background-color: $color-ui4 !default;
$datepicker__highlighted-color: $greenNeon !default;
$datepicker__muted-color: $color-ui4 !default;
$datepicker__muted-background: repeating-linear-gradient(
  -45deg, $color-ui3 2px, $color-ui1 2px, $color-ui1 4px, $color-ui3 4px, $color-ui3 6px);

$datepicker__selected-color: $color-ui0 !default;
$datepicker__text-color: #000 !default;
$datepicker__header-color: #000 !default;
$datepicker__navigation-disabled-color: lighten($datepicker__muted-color, 10%)
  !default;

$datepicker__border-radius: 0 !default;
$datepicker__day-margin: 0 !default;
$datepicker__font-size: 0.8rem !default;
$datepicker__font-family: "Helvetica Neue", Helvetica, Arial,
  sans-serif !default;
$datepicker__item-size: 40px !default;
$datepicker__margin: 12px !default;
$datepicker__navigation-size: 0.45rem !default;
$datepicker__triangle-size: 8px !default;
